/* .item-card{
	width: 100%;
	display: flex;
	justify-content: space-between;
    background-color: white;
    padding: 1em;
    margin: 0.5em;
}

.item-card p{
	margin: 0;
	font-size: 1.2em;
}

.item-card button{
    padding: 6px 10px;
    margin: 4px 0;
    background-color: #91a385;
    border: none;
    border-radius: 2px;
    color: white;
}

.subtask_card{
    display: flex;
}

.save_btn_cont{
    position: absolute;
    bottom: 2em;
    right: 2em;

}
 */
