.dialogTitle{
    margin: 1em 0;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

.dialogTitle p{
    font-size: 0.9em;
}


.save_btn_cont{
    position: absolute;
    right: 3em;
    bottom: 3em;
}










/* .item-card{
	width: 100%;
	display: flex;
	justify-content: space-between;
    background-color: white;
    padding: 1em;
    margin: 0.5em;
} */

/* .item-card p{
	margin: 0;
	font-size: 1.2em;
}

.item-card button{
    padding: 6px 10px;
    margin: 4px 0;
    background-color: #91a385;
    border: none;
    border-radius: 2px;
    color: white;
}

.subtask_card{
    display: flex;
} */


